<!DOCTYPE html>
<!--
	Student Name: Sean Perks
	File Nme: template.html
	Date: June 28th, 2024
-->

<html lang="en">
<head>

	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>Projects</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Playwrite+BE+VLG:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

</head>
<body>

	<div id="container">
		<!-- Mobile Nav -->
		<nav class="mobile-nav">
			<div id="menu-links">
				<a href="{{ url_for('index') }}">Home</a>
				<a href="{{ url_for('about') }}">About</a>
				<a href="{{ url_for('tools') }}">Tools</a>
			</div>

			<a class="menu-icon" onclick="hamburger()">
				<div>&#9776;</div>
			</a>
		</nav>

		<!-- Use the header area for this website name or logo -->
		<header id="logo">
			<a href="{{ url_for('index') }}"><img src="static/logo2.png" alt="MOSS logo"></a>
		</header>

		<!-- Use the nav area to add hyperlinks to other pages within the website -->
		<nav class="tablet-desktop">
			<ul>
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('tools') }}">Tools</a></li>
			</ul>
		</nav>



		<!-- Use the main area to add the main content of the webpage -->
		<main class="round">


			<div class = "tour-grid">
				{% if proj_info %}

				<article id={{ project_id }}>
					<div class="article_wrap mobile">
						<a class="frame" href="{{ url_for('project', proj_id=project_id) }}"><img src="{{ url_for('static', filename='osb.jpg') }}" alt="hebo image" class="round"></a>
						<ul class="project_details">
							<li>Project Description: {{ proj_info['Description'] }}</li>
							<li>Location: {{ proj_info['Location'] }}</li>
						</ul>
						<p>Enjoy a walking tour of Portland's days gone by. This walking only tour provides a glimpse into the natural, architectural, and cultural history of downtown Portland.</p>
					</div>
					<div class="article_wrap tablet-desktop">
						<h1>{{ proj_info["Title"] }}</h1>
						<a href="{{ url_for('project', proj_id=project_id) }}"><img src="{{ url_for('static', filename='hebo_hero.jpg') }}" alt="hebo image" class="round"></a>
						<h2>Project Description:</h2>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ proj_info['Description'] }}</p>
						<h2>Location:</h2>
						<div id="map">

							<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
							integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
							crossorigin=""></script>
							<script>
								let map = L.map('map').setView({{ [lat, lon] }}, 13); // Initialize the map at a default location

								// Load and display tile layers
								L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19,}).addTo(map);

								var marker = L.marker({{ [lat, lon] }}).addTo(map);
							</script>
						</div>
					</div>
				</article>
				{% endif %}

			</div>

			<div class="tablet-desktop">
				{{ mh_table|safe }}
			</div>

		</main>

		<!-- Use the footer area to add website footer content -->
		<footer>
			<div class="copyright">
				<p>&copy; Copyritght 2021. All Rights Reserved.</p>
			</div>

			<div class="social">

			</div>
		</footer>

	</div>
	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>