<!DOCTYPE html>
<!-- 
	Student Name: Sean Perks
	File Nme: template.html
	Date: June 28th, 2024
-->
	
<html lang="en">
<head>

	<link rel="stylesheet" href="static/styles.css">
	<title>Portland Historical Tours</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Playwrite+BE+VLG:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

	
</head>
<body>

	<div id="container">
		<!-- Mobile Nav -->
		<nav class="mobile-nav">
			<div id="menu-links">
				<a href="index.html">Home</a>
				<a href="about.html">About</a>
				<a href="tours.html">Tours</a>
				<a href="contact.html">Contact Us</a>
			</div>

			<a class="menu-icon" onclick="hamburger()">
				<div>&#9776;</div>
			</a>
		</nav>
		
		<!-- Use the header area for this website name or logo -->
		<header id="logo">
			<a href="{{ url_for('index') }}"><img src="static/logo.png" alt="MOSS logo"></a>
		</header>
		
		<!-- Use the nav area to add hyperlinks to other pages within the website -->
		<nav class="tablet-desktop">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="tours.html">Tours</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</nav>
		
		<!-- Use the main area to add the main content of the webpage -->
		<main class="round">
			<h3 class="tablet-desktop cursive_type">Projects...</h3>
			<h2 class="mobile cursive_type">Projects...</h2>
			
			<div class="form round">
				<form method="POST" action="https://pcc-webdev.com/cis195h/pht/formInfo.php"><!--start form -->
					
					<fieldset class="round">
						<legend>Pee pee</legend>
						
						<label for="tour">poo poo:</label>
						<select name="tour" id="tour">
							<option value="downtown">Downtown</option>
							<option value="albina">Albina</option>
							<option value="landmarks">Landmarks</option>
						</select>
						
						<label for="fName">First Name:</label>
						<input type="text" id="fName" name="fName" required>
						
						<label for="lName">Last Name:</label>
						<input type="text" name="lName" id="lName" required>
						
						<label for="email">Email:</label>
						<input type="email" name="email" id="email" required>
						
						<label for="phone">Phone:</label>
						<input type="tel" name="phone" id="phone" required>
						
						<label for="date">Date:</label>
						<input type="date" name="date" id="date" required>
						
						<label for="tour">Total Participants (call for parties over 10)</label>
						<select name="tour" id="rour">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						
						<label for="allergies">Does anyone in your party have food or drink sensitivities? If so, what are they?</label>
						<textarea id="allergies" name="allergies" rows="5" cols="35"></textarea>
						
						<input type="submit" id="submit" value="Submit" class="btn">
					</fieldset>
					
				</form>
			</div>	
			<div class="tablet-desktop">
				<table><!--Start Table-->
					<caption>Available Tours:</caption>
					<tr><!-- Row 1-->
						<th>Tour</th>
						<th>Duration</th>
						<th>Transportation</th>
						<th>Food</th>
						<th>Price</th>
					</tr>
					
					<tr><!-- Row 2-->
						<td>Downtown</td>
						<td>2 Hours</td>
						<td>Walking</td>
						<td>None</td>
						<td>$50</td>
					</tr>
					
					<tr><!-- Row 3-->
						<td>Albina</td>
						<td>3 hours</td>
						<td>Walking/Driving</td>
						<td>Included</td>
						<td>$80</td>
					</tr>
					
					<tr><!-- Row 4-->
						<td>Landmarks Tour</td>
						<td>4 hours</td>
						<td>Walking/Driving</td>
						<td>Included</td>
						<td>$110</td>
					</tr>
				</table>
			</div>
			
		</main>
		
		<!-- Use the footer area to add website footer content -->
		<footer>
			<div class="copyright">
				<p>&copy; Copyritght 2021. All Rights Reserved.</p>
				<p><a href="mailto:sales@portlandhistoricaltours.com">sales@portlandhistoricaltours.com</a></p>
			</div>
			
			<div class="social">
				<a href="https://www.facebook.com/" target="_blank"><img src="images/facebook-logo.png" alt="black and white Facebook logo"></a>
				<a href="https://www.twitter.com/" target="_blank"><img src="images/twitter-logo.png" alt="black and white Twitter logo"></a>
			</div>
		</footer>
	
	</div>
	<script src="scripts/script.js"></script>
	
</body>
</html> 