<!DOCTYPE html>
<!-- 
	Student Name: Sean Perks
	File Nme: template.html
	Date: June 28th, 2024
-->
	
<html lang="en">
<head>

	<link rel="stylesheet" href="css/styles.css">
	<title>Portland Historical Tours</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

	
</head>
<body>

	<div id="container">
		<!-- Mobile Nav -->
		<nav class="mobile-nav">
			<div id="menu-links">
				<a href="index.html">Home</a>
				<a href="about.html">About</a>
				<a href="tours.html">Tours</a>
				<a href="reservations.html">Reservtions</a>
				<a href="contact.html">Contact Us</a>
			</div>

			<a class="menu-icon" onclick="hamburger()">
				<div>&#9776;</div>
			</a>
		</nav>
		
		<!-- Use the header area for this website name or logo -->
		<header id="logo">

			<a href="index.html"><img src="images/Logo.png" alt="Portland Historical Tours Logo"></a>
		</header>
		
		<!-- Use the nav area to add hyperlinks to other pages within the website -->
		<nav class="tablet-desktop">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="tours.html">Tours</a></li>
				<li><a href="reservations.html">Reservations</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</nav>
		
		<!-- Use the main area to add the main content of the webpage -->
		<main>
		
		<div>
		</div>
			
		</main>
		
		<!-- Use the footer area to add website footer content -->
		<footer>
			<div class="copyright">
				<p>&copy; Copyritght 2021. All Rights Reserved.</p>
				<p><a href="mailto:sales@portlandhistoricaltours.com">sales@portlandhistoricaltours.com</a></p>
			</div>
			
			<div class="social">
				<a href="https://www.facebook.com/" target="_blank"><img src="images/facebook-logo.png" alt="black and white Facebook logo"></a>
				<a href="https://www.twitter.com/" target="_blank"><img src="images/twitter-logo.png" alt="black and white Twitter logo"></a>
			</div>
		</footer>
	
	</div>
	<script src="scripts/script.js"></script>
	
</body>
</html> 