<!DOCTYPE html>
<!-- 
	Student Name: Sean Perks
	File Nme: template.html
	Date: June 28th, 2024
-->
	
<html lang="en">
<head>

	<link rel="stylesheet" href="static/styles.css">
	<title>MOSS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Playwrite+BE+VLG:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
	<script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
	
</head>
<body>

	<div id="container">
		<!-- Mobile Nav -->
		<nav class="mobile-nav">
			<div id="menu-links">
				<a href="{{ url_for('index') }}">Home</a>
				<a href="{{ url_for('about') }}">About</a>
				<a href="{{ url_for('tools') }}">Tools</a>
			</div>
			
			<a class="menu-icon" onclick="hamburger()">
				<div>&#9776;</div>
			</a>
		</nav>
		
		<!-- Use the header area for this website name or logo -->
		<header id="logo">
			<a href="{{ url_for('index') }}"><img src="static/logo2.png" alt="MOSS logo"></a>
		</header>
		
		<!-- Use the nav area to add hyperlinks to other pages within the website -->
		<nav class="tablet-desktop">
			<ul>
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('tools') }}">Tools</a></li>
			</ul>
		</nav>
		
		<!-- Hero Image -->
		<div id="hero" class="tablet-desktop hero">
			<img src="static/moss_herob.jpg" alt="Montane Pollinators">
		</div>
		
		<!-- Use the main area to add the main content of the webpage -->
		<main>
		
		<div class="mobile">
            <h3 class="cursive_type">Tools!</h3>
            <h1>MOSS tools are experimental.</h1>
				
						
		</div>
			
			<div id="Intro" class="tablet-desktop">
			
				<h3 class="cursive_type">Tools!</h3>
				<h1>MOSS tools are experimental.</h1>


			</div>
        
        <a href="{{ url_for('pointonmap') }}">1. Select Point on Map</a>
        <p>This is a demo that will eventually return the seedzone/ecoregion of the point you select.</p>
        <a href="{{ url_for('pointonmap') }}">2. Spell Check Latin Names</a>
        <p>This tool spell checks plant latin names and codes in accordance with USDA Plants Database (Plants3)</p>
        <a href="{{ url_for('pointonmap') }}">3. Get GBIF Occurance Data</a>
        <p>Tool to download occurance data from GBIF in bulk by uploading a csv of plants</p>



			
		</div>
		</main>
		
		<!-- Use the footer area to add website footer content -->
		<footer>
			<div class="copyright">
				<p>&copy; Copyritght 2025. All Rights Pubic.</p>
				<p><a href="mailto:urmom@urmom.com">ur_mom@ur_mom.com</a></p>
			</div>
			
			<div class="social">
				
			</div>
		</footer>
	
	</div>
	<script src="scripts/script.js"></script>
	
</body>
</html> 